LIBRARY
  SURVEY
  | With the exception of @t{bool'BOOL} and
    @t{denotation'DENOTATION}, @sc{Opal} has no sorts
    built into the language. Consequently, every data type, 
    that is to be used in a program has first to be 
    defined by means of a suitable structure. It obviously 
    makes no sense, though, to let every programmer 
    start again from scratch. So there are some basic
    structures available in the programming environment 
    of the @sc{Opal} compiler.
  
    It should be noted, however, that these structures 
    are not different from any other structure. In 
    particular, most of them are written in
    @sc{Opal}. There are also some structures, though, 
    that are substituted by hand-written ones, having 
    the same semantics as an @sc{Opal} implementation, 
    but more efficient in terms of storage and/or
    time. (The @sc{Opal} user is not aware of the kind, 
    of structure he uses.) The library distinguishes 
    the following kinds of structures
  
    @itemize @bullet
    @item @i{predefined} structures; @t{BOOL} 
    and @t{DENOTATION}.
    @item @i{arithmetic} structures; @t{Nat}, @t{Int}, @t{Real}, 
    @t{Char}, @t{PrintableChar} and @t{Bitset}.
    @item @i{function manipulation} structures; 
    @t{Compose},
    @t{Control}, @t{Section} and @t{Suspend}.
    @item @i{trivial} structures; @t{Void}, @t{Option}, 
    @t{Pair}, @t{Triple} and @t{Quadruple}.
    @item @i{aggregate} structures; @t{Seq}, @t{Array}, 
    @t{Set},
    @t{Bag}, @t{Map}, @t{Avl} and corresponding 
    structures for homomorphisms
    @item @i{string manipulation} and representation 
    of arithmetic types; @t{String} and @t{Conversion}.
    @item @i{input/output} and @i{environment access}
    structures; @t{Com}, @t{ComCompose}, @t{ComSeqReduce},
    @t{ComCheck}, @t{ComStream}, @t{ComData} and 
    @t{ComEnv}.
    @item @i{debugging} structures supported by the 
    compiler; @t{ABORT} and @t{DEBUG}.
    @end itemize
    The following sections enumerate those 
    library-signatures the project makes use of. |
OPTIONAL
    new_pages = off
    properties_include = on


SUBSYSTEM
  name = {Internal}
  directory = /usr/ocs/src/lib/Internal
STRUCTURES
OPTIONAL
SUBSYSTEM
  name = {Strange}
  directory = /usr/ocs/src/lib/Internal/Strange
STRUCTURES
STRUCTURE
name = {INLINE}
STRUCTURE
name = {EQUALITY}
STRUCTURE
name = {CAST}
END_SUBSYSTEM
SUBSYSTEM
  name = {Compiler}
  directory = /usr/ocs/src/lib/Internal/Compiler
STRUCTURES
STRUCTURE
name = {BOOL}
STRUCTURE
name = {DENOTATION}
STRUCTURE
name = {ABORT}
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM
  name = {BasicTypes}
  directory = /usr/ocs/src/lib/BasicTypes
SURVEY
| |
OPTIONAL
STRUCTURES
OPTIONAL
STRUCTURE
name = {Basics}
OPTIONAL
STRUCTURE
name = {Void}
OPTIONAL
STRUCTURE
name = {BoolConv}
OPTIONAL
STRUCTURE
name = {RelCmp}
OPTIONAL
STRUCTURE
name = {RelCmpConv}
OPTIONAL
STRUCTURE
name = {Subrel}
OPTIONAL
STRUCTURE
name = {SubrelConv}
OPTIONAL
STRUCTURE
name = {VoidConv}
OPTIONAL
STRUCTURE
name = {Bool}
OPTIONAL
SUBSYSTEM
name = {Text}
directory = /usr/ocs/src/lib/BasicTypes
STRUCTURES
OPTIONAL
STRUCTURE
name = {Denotation}
OPTIONAL
STRUCTURE
name = {Char}
OPTIONAL
STRUCTURE
name = {CharConv}
OPTIONAL
STRUCTURE
name = {PrintableChar}
OPTIONAL
STRUCTURE
name = {Greek}
OPTIONAL
STRUCTURE
name = {Latin1}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Numbers}
directory = /usr/ocs/src/lib/BasicTypes
STRUCTURES
OPTIONAL
STRUCTURE
name = {Nat}
OPTIONAL
STRUCTURE
name = {Int}
OPTIONAL
STRUCTURE
name = {IntConv}
OPTIONAL
STRUCTURE
name = {NatConv}
OPTIONAL
STRUCTURE
name = {Real}
OPTIONAL
STRUCTURE
name = {RealConv}
OPTIONAL
STRUCTURE
name = {SmallReal}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM
  name = {Functions}
  directory = /usr/ocs/src/lib/Functions
SURVEY
| |
OPTIONAL
STRUCTURES
OPTIONAL
SUBSYSTEM
name = {General}
directory = /usr/ocs/src/lib/Functions/General
STRUCTURES
OPTIONAL
STRUCTURE
name = {Funct}
OPTIONAL
STRUCTURE
  name = {FunctConv}
OPTIONAL
STRUCTURE
name = {Compose}
OPTIONAL
STRUCTURE
name = {ComposePar}
OPTIONAL
STRUCTURE
name = {Control}
OPTIONAL
STRUCTURE
name = {Predicate}
OPTIONAL
STRUCTURE
name = {Identity}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
  name = {Orderings}
  directory = /usr/ocs/src/lib/Functions/Orderings
SURVEY
| |
OPTIONAL
STRUCTURES
OPTIONAL
STRUCTURE
name = {OrderingByInjection}
OPTIONAL
STRUCTURE
name = {OrderingByLess}
OPTIONAL
STRUCTURE
name = {InducedRel}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Special}
directory = /usr/ocs/src/lib/Functions/Special
STRUCTURES
OPTIONAL
STRUCTURE
name = {AcceleratorC}
OPTIONAL
STRUCTURE
name = {AcceleratorF}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM
  name = {AggregateTypes}
  directory = /usr/ocs/src/lib/AggregateTypes
SURVEY
| |
OPTIONAL
STRUCTURES
OPTIONAL
SUBSYSTEM
  name = {ProductLike}
  directory = /usr/ocs/src/lib/AggregateTypes/ProductLike
SURVEY
| |
OPTIONAL
STRUCTURES
OPTIONAL
STRUCTURE
name = {AnonPair}
OPTIONAL
STRUCTURE
name = {AnonQuadruple}
OPTIONAL
STRUCTURE
name = {AnonTriple}
OPTIONAL
STRUCTURE
name = {Pair}
OPTIONAL
STRUCTURE
name = {PairCompare}
OPTIONAL
STRUCTURE
name = {PairConv}
OPTIONAL
STRUCTURE
name = {PairMap}
OPTIONAL
STRUCTURE
name = {Quadruple}
OPTIONAL
STRUCTURE
name = {QuadrupleConv}
OPTIONAL
STRUCTURE
name = {QuadrupleMap}
OPTIONAL
STRUCTURE
name = {Triple}
OPTIONAL
STRUCTURE
name = {TripleConv}
OPTIONAL
STRUCTURE
name = {TripleMap}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
  name = {UnionLike}
  directory = /usr/ocs/src/lib/AggregateTypes/UnionLike
SURVEY
| |
OPTIONAL
STRUCTURES
OPTIONAL
STRUCTURE
name = {Option}
OPTIONAL
STRUCTURE
name = {OptionCompare}
OPTIONAL
STRUCTURE
name = {OptionConv}
OPTIONAL
STRUCTURE
name = {OptionMap}
OPTIONAL
STRUCTURE
name = {Union2}
OPTIONAL
STRUCTURE
name = {Union2Conv}
OPTIONAL
STRUCTURE
name = {Union3}
OPTIONAL
STRUCTURE
name = {Union3Conv}
OPTIONAL
STRUCTURE
name = {Union4}
OPTIONAL
STRUCTURE
name = {Union4Conv}
OPTIONAL
STRUCTURE
name = {Dyn}
OPTIONAL
STRUCTURE
name = {DynConv}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
  name = {Seqlike}
  directory = /usr/ocs/src/lib/AggregateTypes/SeqLike
SURVEY
| |
STRUCTURES
OPTIONAL
SUBSYSTEM
name = {Sequences Proper}
directory = /usr/ocs/src/lib/AggregateTypes/SeqLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {Seqs}
OPTIONAL
STRUCTURE
name = {Seq}
OPTIONAL
STRUCTURE
name = {SeqCompare}
OPTIONAL
STRUCTURE
name = {SeqConv}
OPTIONAL
STRUCTURE
name = {SeqFilter}
OPTIONAL
STRUCTURE
name = {SeqFold}
OPTIONAL
STRUCTURE
name = {SeqIndex}
OPTIONAL
STRUCTURE
name = {SeqMap}
OPTIONAL
STRUCTURE
name = {SeqMapEnv}
OPTIONAL
STRUCTURE
name = {SeqOfSeq}
OPTIONAL
STRUCTURE
name = {SeqReduce}
OPTIONAL
STRUCTURE
name = {SeqSort}
OPTIONAL
STRUCTURE
name = {SeqZip}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Infinite Sequences}
directory = /usr/ocs/src/lib/AggregateTypes/SeqLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {ISeq}
OPTIONAL
STRUCTURE
name = {ISeqConv}
OPTIONAL
STRUCTURE
name = {ISeqFilter}
OPTIONAL
STRUCTURE
name = {ISeqIndex}
OPTIONAL
STRUCTURE
name = {ISeqMap}
OPTIONAL
STRUCTURE
name = {ISeqMapEnv}
OPTIONAL
STRUCTURE
name = {ISeqSort}
OPTIONAL
STRUCTURE
name = {ISeqUnreduce}
OPTIONAL
STRUCTURE
name = {ISeqZip}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Strings}
directory = /usr/ocs/src/lib/AggregateTypes/SeqLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {Strings}
OPTIONAL
STRUCTURE
name = {String}
OPTIONAL
STRUCTURE
name = {StringConv}
OPTIONAL
STRUCTURE
name = {StringFilter}
OPTIONAL
STRUCTURE
name = {StringFold}
OPTIONAL
STRUCTURE
name = {StringIndex}
OPTIONAL
STRUCTURE
name = {StringMap}
OPTIONAL
STRUCTURE
name = {StringMapSeq}
OPTIONAL
STRUCTURE
name = {StringReduce}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {String Formatting And Scanning}
directory = /usr/ocs/src/lib/AggregateTypes/SeqLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {BTUnion}
OPTIONAL
STRUCTURE
name = {BTUnionConv}
OPTIONAL
STRUCTURE
name = {StringFormat}
OPTIONAL
STRUCTURE
name = {StringScan}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM
name = {TreeLike}
directory = /usr/ocs/src/lib/AggregateTypes/TreeLike
STRUCTURES
OPTIONAL
SUBSYSTEM
name = {Binary Trees}
directory = /usr/ocs/src/lib/AggregateTypes/TreeLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {IndexingOfTrees}
OPTIONAL
STRUCTURE
name = {Tree}
OPTIONAL
STRUCTURE
name = {TreeCompare}
OPTIONAL
STRUCTURE
name = {TreeConv}
OPTIONAL
STRUCTURE
name = {TreeFilter}
OPTIONAL
STRUCTURE
name = {TreeIndex}
OPTIONAL
STRUCTURE
name = {TreeMap}
OPTIONAL
STRUCTURE
name = {TreeMapEnv}
OPTIONAL
STRUCTURE
name = {TreeReduce}
OPTIONAL
STRUCTURE
name = {TreeZip}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Heaps}
directory = /usr/ocs/src/lib/AggregateTypes/TreeLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {Heap}
OPTIONAL
STRUCTURE
name = {HeapCompare}
OPTIONAL
STRUCTURE
name = {HeapConv}
OPTIONAL
STRUCTURE
name = {HeapFilter}
OPTIONAL
STRUCTURE
name = {HeapIndex}
OPTIONAL
STRUCTURE
name = {HeapMap}
OPTIONAL
STRUCTURE
name = {HeapMapEnv}
OPTIONAL
STRUCTURE
name = {HeapReduce}
OPTIONAL
STRUCTURE
name = {HeapZip}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Balanced Search Trees}
directory = /usr/ocs/src/lib/AggregateTypes/TreeLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {BSTree}
OPTIONAL
STRUCTURE
name = {BSTreeCompare}
OPTIONAL
STRUCTURE
name = {BSTreeConv}
OPTIONAL
STRUCTURE
name = {BSTreeFilter}
OPTIONAL
STRUCTURE
name = {BSTreeIndex}
OPTIONAL
STRUCTURE
name = {BSTreeMap}
OPTIONAL
STRUCTURE
name = {BSTreeMapEnv}
OPTIONAL
STRUCTURE
name = {BSTreeReduce}
OPTIONAL
STRUCTURE
name = {BSTreeZip}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM
name = {SetLike}
directory = /usr/ocs/src/lib/AggregateTypes/SetLike
STRUCTURES
OPTIONAL
SUBSYSTEM
name = {Sets Proper}
directory = /usr/ocs/src/lib/AggregateTypes/SetLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {Sets}
OPTIONAL
STRUCTURE
name = {Set}
OPTIONAL
STRUCTURE
name = {SetConstr}
OPTIONAL
STRUCTURE
name = {SetConv}
OPTIONAL
STRUCTURE
name = {SetFilter}
OPTIONAL
STRUCTURE
name = {SetFold}
OPTIONAL
STRUCTURE
name = {SetMap}
OPTIONAL
STRUCTURE
name = {SetOfSet}
OPTIONAL
STRUCTURE
name = {SetReduce}
OPTIONAL
STRUCTURE
name = {SetMapEnv}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Sets By Binary Search Trees}
directory = /usr/ocs/src/lib/AggregateTypes/SetLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {SetByBST}
OPTIONAL
STRUCTURE
name = {SetByBSTConstr}
OPTIONAL
STRUCTURE
name = {SetByBSTConv}
OPTIONAL
STRUCTURE
name = {SetByBSTFilter}
OPTIONAL
STRUCTURE
name = {SetByBSTFold}
OPTIONAL
STRUCTURE
name = {SetByBSTMap}
OPTIONAL
STRUCTURE
name = {SetByBSTMapEnv}
OPTIONAL
STRUCTURE
name = {SetByBSTOfSetByBST}
OPTIONAL
STRUCTURE
name = {SetByBSTReduce}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Sets By Predicate}
directory = /usr/ocs/src/lib/AggregateTypes/SetLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {SetByPred}
OPTIONAL
STRUCTURE
name = {SetByPredConstr}
OPTIONAL
STRUCTURE
name = {SetByPredConv}
OPTIONAL
STRUCTURE
name = {SetByPredFilter}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Bitsets}
directory = /usr/ocs/src/lib/AggregateTypes/SetLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {NatSets}
OPTIONAL
STRUCTURE
name = {BitsetConv}
OPTIONAL
STRUCTURE
name = {Bitset}
OPTIONAL
STRUCTURE
name = {BitsetFilter}
OPTIONAL
STRUCTURE
name = {BitsetFold}
OPTIONAL
STRUCTURE
name = {BitsetMap}
OPTIONAL
STRUCTURE
name = {BitsetReduce}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Bags}
directory = /usr/ocs/src/lib/AggregateTypes/SetLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {Bags}
OPTIONAL
STRUCTURE
name = {Bag}
OPTIONAL
STRUCTURE
name = {BagConv}
OPTIONAL
STRUCTURE
name = {BagFilter}
OPTIONAL
STRUCTURE
name = {BagFold}
OPTIONAL
STRUCTURE
name = {BagMap}
OPTIONAL
STRUCTURE
name = {BagReduce}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM
name = {MapLike}
directory = /usr/ocs/src/lib/AggregateTypes/MapLike
STRUCTURES
OPTIONAL
SUBSYSTEM
name = {Maps Proper}
directory = /usr/ocs/src/lib/AggregateTypes/MapLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {Maps}
OPTIONAL
STRUCTURE
name = {Map}
OPTIONAL
STRUCTURE
name = {MapCompose}
OPTIONAL
STRUCTURE
name = {MapConv}
OPTIONAL
STRUCTURE
name = {MapFilter}
OPTIONAL
STRUCTURE
name = {MapInvert}
OPTIONAL
STRUCTURE
name = {MapMap}
OPTIONAL
STRUCTURE
name = {MapReduce}
OPTIONAL
STRUCTURE
name = {MapNotForUserPurpose}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Arrays}
directory = /usr/ocs/src/lib/AggregateTypes/MapLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {Arrays}
OPTIONAL
STRUCTURE
name = {Array}
OPTIONAL
STRUCTURE
name = {ArrayConv}
OPTIONAL
STRUCTURE
name = {ArrayFilter}
OPTIONAL
STRUCTURE
name = {ArrayFold}
OPTIONAL
STRUCTURE
name = {ArrayMap}
OPTIONAL
STRUCTURE
name = {ArrayReduce}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Dynamic Arrays}
directory = /usr/ocs/src/lib/AggregateTypes/MapLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {DArray}
OPTIONAL
STRUCTURE
name = {DArrayConv}
OPTIONAL
STRUCTURE
name = {DArrayFilter}
OPTIONAL
STRUCTURE
name = {DArrayFold}
OPTIONAL
STRUCTURE
name = {DArrayMap}
OPTIONAL
STRUCTURE
name = {DArrayReduce}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Maps By Binary Search Trees}
directory = /usr/ocs/src/lib/AggregateTypes/MapLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {MapByBST}
OPTIONAL
STRUCTURE
name = {MapByBSTCompose}
OPTIONAL
STRUCTURE
name = {MapByBSTConv}
OPTIONAL
STRUCTURE
name = {MapByBSTFilter}
OPTIONAL
STRUCTURE
name = {MapByBSTInvert}
OPTIONAL
STRUCTURE
name = {MapByBSTMap}
OPTIONAL
STRUCTURE
name = {MapByBSTReduce}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Maps By Ordered Sequences}
directory = /usr/ocs/src/lib/AggregateTypes/MapLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {MapByOS}
OPTIONAL
STRUCTURE
name = {MapByOSCompose}
OPTIONAL
STRUCTURE
name = {MapByOSConv}
OPTIONAL
STRUCTURE
name = {MapByOSFilter}
OPTIONAL
STRUCTURE
name = {MapByOSInvert}
OPTIONAL
STRUCTURE
name = {MapByOSMap}
OPTIONAL
STRUCTURE
name = {MapByOSReduce}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Mapping Natural Numbers}
directory = /usr/ocs/src/lib/AggregateTypes/MapLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {NatMaps}
OPTIONAL
STRUCTURE
name = {NatMap}
OPTIONAL
STRUCTURE
name = {NatMapConv}
OPTIONAL
STRUCTURE
name = {NatMapFilter}
OPTIONAL
STRUCTURE
name = {NatMapMap}
OPTIONAL
STRUCTURE
name = {NatMapNotForUserPurpose}
OPTIONAL
STRUCTURE
name = {NatMapReduce}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Binary Relations}
directory = /usr/ocs/src/lib/AggregateTypes/MapLike
STRUCTURES
OPTIONAL
STRUCTURE
name = {Rel}
OPTIONAL
STRUCTURE
name = {RelCompose}
OPTIONAL
STRUCTURE
name = {RelConv}
OPTIONAL
STRUCTURE
name = {RelFilter}
OPTIONAL
STRUCTURE
name = {RelHomog}
OPTIONAL
STRUCTURE
name = {RelInvert}
OPTIONAL
STRUCTURE
name = {RelMap}
OPTIONAL
STRUCTURE
name = {RelNotForUserPurpose}
OPTIONAL
STRUCTURE
name = {RelReduce}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM
name = {Algorithms}
directory = /usr/ocs/src/lib/AggregateTypes/Algorithms
STRUCTURES
OPTIONAL
STRUCTURE
name = {SetTopSort}
OPTIONAL
STRUCTURE
name = {MaxStrongComp}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM
  name = {System}
  directory = /usr/ocs/src/lib/System
SURVEY
| |
OPTIONAL
STRUCTURES
OPTIONAL
SUBSYSTEM
  name = {Commands}
  directory = /usr/ocs/src/lib/System/Commands
SURVEY
| |
STRUCTURES
OPTIONAL
STRUCTURE
name = {Com}
OPTIONAL
STRUCTURE
name = {ComCheck}
OPTIONAL
STRUCTURE
name = {ComCompose}
OPTIONAL
STRUCTURE
name = {ComConv}
OPTIONAL
STRUCTURE
name = {ComSeqReduce}
OPTIONAL
STRUCTURE
name = {Env}
OPTIONAL
STRUCTURE
name = {Random}
OPTIONAL
STRUCTURE
name = {ComAction}
OPTIONAL
STRUCTURE
name = {ComSeqMap}
OPTIONAL
STRUCTURE
name = {ComSemaphor}
OPTIONAL
STRUCTURE
name = {ComSeqAction}
OPTIONAL
STRUCTURE
name = {ComMap}
OPTIONAL
STRUCTURE
name = {ComState}
OPTIONAL
STRUCTURE
name = {ComStateWith}
OPTIONAL
STRUCTURE
name = {ComPairCompose}
OPTIONAL
STRUCTURE
name = {ComTripleCompose}
OPTIONAL
SUBSYSTEM
name = {Concurrent Opal}
directory = /usr/ocs/src/lib/System/Commands
STRUCTURES
OPTIONAL
STRUCTURE
name = {ComAgent}
OPTIONAL
STRUCTURE
name = {ComAgentConv}
OPTIONAL
STRUCTURE
name = {ComChoice}
OPTIONAL
STRUCTURE
name = {ComService}
OPTIONAL
STRUCTURE
name = {ComServiceConv}
OPTIONAL
STRUCTURE
name = {ComTimeout}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM
name = {Debugging}
directory = /usr/ocs/src/lib/System/Debugging
STRUCTURES
OPTIONAL
STRUCTURE
name = {DEBUG}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Streams}
directory = /usr/ocs/src/lib/System/Streams
STRUCTURES
OPTIONAL
STRUCTURE
name = {Commands}
OPTIONAL
STRUCTURE
name = {BinStream}
OPTIONAL
STRUCTURE
name = {Stream}
OPTIONAL
STRUCTURE
name = {BasicIO}
OPTIONAL
STRUCTURE
name = {LineFormat}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Unix}
directory = /usr/ocs/src/lib/System/Unix
STRUCTURES
OPTIONAL
STRUCTURE
name = {BinFile}
OPTIONAL
STRUCTURE
name = {File}
OPTIONAL
STRUCTURE
name = {FileConv}
OPTIONAL
STRUCTURE
name = {FileSystem}
OPTIONAL
STRUCTURE
name = {FileSystemConv}
OPTIONAL
STRUCTURE
name = {FileSystemFun}
OPTIONAL
STRUCTURE
name = {Process}
OPTIONAL
STRUCTURE
name = {ProcessConv}
OPTIONAL
STRUCTURE
name = {ProcessCtrl}
OPTIONAL
STRUCTURE
name = {ProcessCtrlConv}
OPTIONAL
STRUCTURE
  name = {ProcessCtrlFun}
OPTIONAL
STRUCTURE
name = {Signal}
OPTIONAL
STRUCTURE
name = {SignalConv}
OPTIONAL
STRUCTURE
name = {UnixFailures}
OPTIONAL
STRUCTURE
name = {UserAndGroup}
OPTIONAL
STRUCTURE
name = {UserAndGroupConv}
OPTIONAL
STRUCTURE
name = {Wait}
OPTIONAL
STRUCTURE
name = {WaitConv}
OPTIONAL
STRUCTURE
name = {UserAndGroupFun}
OPTIONAL
STRUCTURE
name = {Time}
OPTIONAL
STRUCTURE
name = {TimeConv}
OPTIONAL
STRUCTURE
name = {FileName}
OPTIONAL
STRUCTURE
name = {ProcessArgs}
OPTIONAL
STRUCTURE
name = {ProcessComInterrupt}
OPTIONAL
STRUCTURE
name = {ProcessConnect}
OPTIONAL
STRUCTURE
name = {ProcessInterrupt}
OPTIONAL
STRUCTURE
name = {ProcessMonitor}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM
  name = {Tools}
  directory = /usr/ocs/src/lib/Tools
SURVEY
| |
OPTIONAL
STRUCTURES
OPTIONAL
SUBSYSTEM
name = {Parser Light}
directory = /usr/ocs/src/lib/Tools/ParserLight
STRUCTURES
OPTIONAL
STRUCTURE
name = {ParserL}
OPTIONAL
STRUCTURE
name = {ParserLBasic}
OPTIONAL
STRUCTURE
name = {ParserLCombinator}
OPTIONAL
STRUCTURE
name = {ParserLCompose}
OPTIONAL
STRUCTURE
name = {ParserLMap}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Formatting Tools}
directory = /usr/ocs/src/lib/Tools/Formatting
STRUCTURES
OPTIONAL
STRUCTURE
name = {Fmt}
OPTIONAL
STRUCTURE
name = {FmtArray}
OPTIONAL
STRUCTURE
name = {FmtBasicTypes}
OPTIONAL
STRUCTURE
name = {FmtDebug}
OPTIONAL
STRUCTURE
name = {FmtMap}
OPTIONAL
STRUCTURE
name = {FmtOption}
OPTIONAL
STRUCTURE
name = {FmtPair}
OPTIONAL
STRUCTURE
name = {FmtSeq}
OPTIONAL
STRUCTURE
name = {FmtSet}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {BFD-Linker}
directory = /usr/ocs/src/lib/Tools/BFD
STRUCTURES
OPTIONAL
STRUCTURE
name = {BFDLinker}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Readline}
directory = /usr/ocs/src/lib/Tools/Readline
STRUCTURES
OPTIONAL
STRUCTURE
name = {ReadLine}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Tcl}
directory = /usr/ocs/src/lib/Tools/Tcl
STRUCTURES
OPTIONAL
STRUCTURE
name = {Tcl}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Tk}
directory = /usr/ocs/src/lib/Tools/Tk
STRUCTURES
OPTIONAL
STRUCTURE
name = {Tk}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Opal Windows}
directory = /usr/ocs/src/lib/Tools/OpalWin
STRUCTURES
OPTIONAL
STRUCTURE
name = {Windows}
OPTIONAL
STRUCTURE
name = {WinAppl}
OPTIONAL
STRUCTURE
name = {WinButton}
OPTIONAL
STRUCTURE
name = {WinCanvas}
OPTIONAL
STRUCTURE
name = {WinCanvasEditor}
OPTIONAL
STRUCTURE
name = {WinConfig}
OPTIONAL
STRUCTURE
name = {WinEmitter}
OPTIONAL
STRUCTURE
name = {WinEvent}
OPTIONAL
STRUCTURE
name = {WinImage}
OPTIONAL
STRUCTURE
name = {WinInternal}
OPTIONAL
STRUCTURE
name = {WinMenu}
OPTIONAL
STRUCTURE
name = {WinRegulator}
OPTIONAL
STRUCTURE
name = {WinScrollbar}
OPTIONAL
STRUCTURE
name = {WinScroller}
OPTIONAL
STRUCTURE
name = {WinSelector}
OPTIONAL
STRUCTURE
name = {WinTag}
OPTIONAL
STRUCTURE
name = {WinText}
OPTIONAL
STRUCTURE
name = {WinTextEditor}
OPTIONAL
STRUCTURE
name = {WinView}
OPTIONAL
STRUCTURE
name = {WinWindow}
OPTIONAL
STRUCTURE
name = {WinTclTk}
OPTIONAL
STRUCTURE
name = {Windows}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {Opal Window Additions}
directory = /usr/ocs/src/lib/Tools/OpalWinAdditions
STRUCTURES
OPTIONAL
STRUCTURE
name = {AEntry}
OPTIONAL
STRUCTURE
name = {AEntryNE}
OPTIONAL
STRUCTURE
name = {ComCheckWin}
OPTIONAL
STRUCTURE
name = {ComCheckWinData}
OPTIONAL
STRUCTURE
name = {Distributor}
OPTIONAL
STRUCTURE
name = {MONITOR}
OPTIONAL
STRUCTURE
name = {MapEntry}
OPTIONAL
STRUCTURE
name = {MapEntryNE}
OPTIONAL
STRUCTURE
name = {SeqEntry}
OPTIONAL
STRUCTURE
name = {SeqEntryNE}
OPTIONAL
STRUCTURE
name = {SetEntry}
OPTIONAL
STRUCTURE
name = {SetEntryNE}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
SUBSYSTEM  
    name = {InterOpal}  
    directory =  /usr/ocs/signs/oc/shared/interOpal 
OPTIONAL
      properties_include = off
    STRUCTURES
      STRUCTURE
        name = {InterOpal}
      STRUCTURE
        name = {InterOpalIO}
      STRUCTURE
        name = {InterOpalOption}
      STRUCTURE
        name = {InterDumpBase}
      STRUCTURE
        name = {InterDumpExpr}
      STRUCTURE
        name = {InterDumpProps}
      STRUCTURE
        name = {InterOpalDump}
END_SUBSYSTEM
SUBSYSTEM
name = {Java}
directory = /usr/ocs/src/lib/Tools/Java
STRUCTURES
OPTIONAL
SUBSYSTEM
name = {JavaCheck}
directory = /usr/ocs/src/lib/Tools/Java/JavaCheck
STRUCTURES
OPTIONAL
STRUCTURE
name = {JavaCatch}
OPTIONAL
STRUCTURE
name = {JavaCheck}
OPTIONAL
STRUCTURE
name = {JavaNull}
OPTIONAL
STRUCTURE
name = {JavaNullArray}
OPTIONAL
END_SUBSYSTEM
SUBSYSTEM
name = {JavaVM}
directory = /usr/ocs/src/lib/Tools/Java/JavaVM
STRUCTURES
OPTIONAL
STRUCTURE
name = {Byte}
OPTIONAL
STRUCTURE
name = {JavaVM}
OPTIONAL
STRUCTURE
name = {Long}
OPTIONAL
STRUCTURE
name = {Short}
OPTIONAL
END_SUBSYSTEM
END_SUBSYSTEM
