/* hand-coded implementation part of Dbm */
/* coding scheme version acc-2.1 */



extern OBJ _ADbm_ACreate(OBJ x1,OBJ x2,OBJ x3,OBJ x4) /* Create */
{OBJ r;
 FRPRD(x1,1);
 FREE(x2,1);
 FREE(x3,1);
 FREE(x4,1);
#line 60
 HLT("Dbm at <60,9> : Create\'Dbm:denotation**nat**nat->void->ans[dbf] not implemented");
#line 60
 return r;}

extern OBJ _ADbm_AOpen(OBJ x1,OBJ x2,OBJ x3,OBJ x4,OBJ x5,OBJ x6) /* Open */
{OBJ r;
 FRPRD(x1,1);
 FRPRD(x2,1);
 FREE(x3,1);
 FREE(x4,1);
 FREE(x5,1);
 FREE(x6,1);
#line 69
 HLT("Dbm at <69,9> : Open\'Dbm:denotation**denotation**nat**nat**nat->void->ans[dbf] not implemented");
#line 69
 return r;}

extern OBJ _ADbm_AClose(OBJ x1,OBJ x2) /* Close */
{OBJ r;
 FREE(x2,1);
#line 104
 HLT("Dbm at <104,9> : Close\'Dbm:dbf->void->ans[void] not implemented");
#line 104
 return r;}

extern OBJ _ADbm_AUpdate(OBJ x1,OBJ x2,OBJ x3,OBJ x4) /* Update */
{OBJ r;
 FRPRD(x2,1);
 FREE(x3,1);
 FREE(x4,1);
#line 110
 HLT("Dbm at <110,9> : Update\'Dbm:dbf**denotation**dyn->void->ans[void] not implemented");
#line 110
 return r;}

extern OBJ _ADbm_ASelect(OBJ x1,OBJ x2,OBJ x3) /* Select */
{OBJ r;
 FRPRD(x2,1);
 FREE(x3,1);
#line 115
 HLT("Dbm at <115,9> : Select\'Dbm:dbf**denotation->void->ans[dyn] not implemented");
#line 115
 return r;}

extern OBJ _ADbm_AExists(OBJ x1,OBJ x2,OBJ x3) /* Exists */
{OBJ r;
 FRPRD(x2,1);
 FREE(x3,1);
#line 121
 HLT("Dbm at <121,9> : Exists\'Dbm:dbf**denotation->void->ans[bool] not implemented");
#line 121
 return r;}

extern OBJ _ADbm_ADelete(OBJ x1,OBJ x2,OBJ x3) /* Delete */
{OBJ r;
 FRPRD(x2,1);
 FREE(x3,1);
#line 127
 HLT("Dbm at <127,9> : Delete\'Dbm:dbf**denotation->void->ans[void] not implemented");
#line 127
 return r;}

extern OBJ _ADbm_ADom(OBJ x1,OBJ x2) /* Dom */
{OBJ r;
 FREE(x2,1);
#line 133
 HLT("Dbm at <133,9> : Dom\'Dbm:dbf->void->ans[seq[denotation]] not implemented");
#line 133
 return r;}

extern OBJ _ADbm_AReorganize(OBJ x1,OBJ x2) /* Reorganize */
{OBJ r;
 FREE(x2,1);
#line 138
 HLT("Dbm at <138,9> : Reorganize\'Dbm:dbf->void->ans[void] not implemented");
#line 138
 return r;}

extern OBJ _ADbm_ASync(OBJ x1,OBJ x2) /* Sync */
{OBJ r;
 FREE(x2,1);
#line 143
 HLT("Dbm at <143,9> : Sync\'Dbm:dbf->void->ans[void] not implemented");
#line 143
 return r;}

static init_const_ADbm()
{
 /* __ADbm_AcantBeWriter */
#line 98
 HLT("Dbm at <98,22> : cantBeWriter\'Dbm:denotation not implemented");
#line 98
 /* __ADbm_AcantBeReader */
#line 98
 HLT("Dbm at <98,9> : cantBeReader\'Dbm:denotation not implemented");}
