/* hand-coded implementation part of ReadLine */
/* coding scheme version acc-2.1 */



extern OBJ _AReadLine_AReadLine(OBJ x1,OBJ x2) /* ReadLine */
{OBJ r;
 FRPRD(x1,1);
 FREE(x2,1);
#line 15
 HLT("ReadLine at <15,9> : ReadLine\'ReadLine:denotation->void->ans[denotation] not implemented");
#line 15
 return r;}

extern OBJ _AReadLine_AReadLineCompleter(OBJ x1,OBJ x2,OBJ x3) /* ReadLineCompleter */
{OBJ r;
 FRPRD(x1,1);
 FRCLS(x2,1);
 FREE(x3,1);
#line 18
 HLT("ReadLine at <18,9> : ReadLineCompleter\'ReadLine:denotation**(denotation**denotation**nat**nat->com[seq[denotation]])->void->ans[denotation] not implemented");
#line 18
 return r;}

static init_const_AReadLine()
{}
