# OCS project definition template
# $Id$
#
# -- cut here -- cut here -- cut here -- cut here -- cut here --
# OCS project definitions for:
#
# $__xpoff$     <-- remove after filling in
# $__Header$
# $__xpon$      <-- remove after filling in


# Only the variables
#       bind os ocs opt debug profile 
#       EXP_OC1 EXP_OC2 EXP_OC1FLAGS EXP_OC2FLAGS INSTALL*
# can be effectively overwritten from the command line.
# Create instances of this file to redefine other variables.



# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Miscellaneous

# Flags for call of mkatfs

MKATFSFLAGS     := -g ocsrc -m u+rwX,g+rwXs,o+rX

# Deactivate derived object cache (exclude to activate it)

.BPOOL:


# Additional C librarys 

CINCPATH	:=
CLDLIBS		:=
CLDLIBPATH	:=
CLDLIBDEPS	:=


# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Variants

# Default variant selection 

ocs	:= stdocs		# expocs
opt	:= no			# modest medium full
debug	:= opal			# opal c
profile	:= no			# profile


# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Definition of experimental ocs
# all variables are defined by default as for stdocs


#   	For shape, import any environment variables needed:
# IMPORT  = MYOCS

#   	Define here alternate oc1, oc2, genmake, or opalimports:
# EXP_OC1         := $(MYOCS)/bin/oc1
# EXP_OC2         := $(MYOCS)/bin/oc2
# EXP_GENMAKE     := $(MYOCS)/bin/genmake
# EXP_OPALIMPORTS := $(MYOCS)/bin/opalimports

#   	Add here flags passed to oc1 resp. oc2
#   	Those variables are already initialized with standard options
#   	(e.g. language extensions). To overwrite these defaults use
#   	`:=', to extend them use `+='
# EXP_OC1FLAGS    +=
# EXP_OC2FLAGS    +=


# opal library 

# OLIB            :=  $(MYOCS)/lib/opal-$(lib)

#   	The OCSYSPARAM value is passed to every call of oc1 or oc2 and
#   	defines where the predefined and builtin structures are located:
# EXP_OCSYSPARAM  := -e$(OLIB) -r BOOL DENOTATION ABORT 

#   	The GENSTDSYS parameter defines which subsystems are looked up
#   	by default by genmake (in genmake(1) command line syntax): 
# EXP_GENSTDSYS   := -sfe $(OLIB)

#   	The CCFLAGS parameter defines additional parameters to the
#   	C compiler.
# EXP_CCFLAGS     += 
#   

#	The OSTART parameter defines the startup file used for OPAL
#	programs.
# EXP_OSTART      := $(OLIB)/_ostart.c



# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Version binding

# Default version binding policy (see $OCS/lib/om/shape/BindRules)

USER := `$(OCSOM)/etc/user_at`
bind := most_recent_author($(USER))


# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Installation configuration


INSTALLBINPATH 	:= 
INSTALLBINFLAGS := -s -m 0555 -dm 0755

INSTALLMANPATH := 
INSTALLMANFLAGS := -m 0444 -dm 0755

INSTALLLIBPATH :=
INSTALLLIBFLAGS := -m 0444 -dm 0755

INSTALLINTERFACEPATH :=
INSTALLINTERFACEFLAGS := -m 0444 -dm 0755

INSTALLOBJECTPATH :=
INSTALLOBJECTFLAGS := -m 0444 -dm 0755


# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Release configuration

RELEASEAREA := 
