# Definition Template for OCS subsystems with handcoded structures
#
# $Header: /home/florenz/opal/home_uebb_CVS/CVS/ocs/src/om/tmpls/SysDefs.subhc.tmpl,v 1.1.1.1 1998-06-16 15:59:52 wg Exp $
#
# -- cut here -- cut here -- cut here -- cut here -- cut here --
# System definitions for:
#
# $__xpoff$     <-- remove after filling in
# $__Header$
# $__xpon$      <-- remove after filling in


# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Fundamental system definitions (please fill out)


# Name of the system 
#  This must be the name of the directory

NODENAME = 


# The names of the subdirectories of this node 
# also to be built. NOTE that these are not the OCS subsystems 
# but rather reflect the hierarchy of the repository tree. 

SUBNODES = 


# Options for genmake. See genmake(1).

GENOPTIONS = -V -v1


# Subsystems for genmake.

GENSUBSYS  = $(GENSTDSYS)


# Structures totally coded in OPAL

NORMSTRUCTS = 

# Structures partially coded in OPAL

FOREIGNSTRUCTS =


# Sources of the system included into a release
#  The variables SIGNS IMPLS EXTPS INTPS are automatically defined
#  according to the import relation of STRUCTS. 

SOURCES = $(SIGNS) $(IMPLS) $(EXTPS) $(INTPS) $(FOREIGNCS) $(FOREIGNHS) SysDefs


# Those sources which shall be made visible in an installation
#  The variables SIGNS EXTPS FOREIGNHS NORMHS are automatically defined

INTERFACES = $(SIGNS) $(EXTPS) $(FOREIGNHS) $(NORMHS)


# Manuals attached to this system

MANUALS = 


# All components of this system. Add here auxiliary
# files which shall not be included into a release.

COMPONENTS = $(SOURCES) $(MANUALS)


# Include this statement to deactivate the derived object cache.
#.BPOOL:


# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Release management definitions (fill out if required)

# The file which carries the `lastrelease' and `inrelease' attributes.
#   If this variable is defined, the project tree starting at this
#   node is considered to be a subrelease.

VERSIONFILE =

# Additional files which shall get the attributes
# (can be located in other systems)

AUXVERSIONFILES =


# Path to this node relative to the root of the release tree

RELEASENODEPATH =


# Path to the boot area for this node relative to the release tree

RELEASEBOOTPATH = 

# Sources which shall be included into the boot area of a release

BOOTSOURCES =



# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Include generic rules (do not change)

include $(OMLIBPATH)/GlobalRules.subhc
