### configuration for the ocs script -*- makefile -*-

## packages which must be installed before (no need for transitive closure)
REQUIRED = basic

## name of the package (for messages)
PKGNAME = pkg.tmpl

## short description
PKGDESCR = short description

## version
PKGVERSION = version

## Package base
PKGBASE = $OCSSRC/

## Commands to be executed before installation of the package
PKGPREHOOK = 

## Commands to be executed after installation of the package
## PKGPOSTHOOK =

## Commands to be executed *instead* of ocs $PKGOCSFLAGS install
## PKGHOOK = 

## any flags for the ocs command
PKGOCSFLAGS = 


