### configuration for the ocs script -*- makefile -*-

## packages which must be installed before (no need for transitive closure)
REQUIRED = basic

## name of the package (for messages)
PKGNAME = pkg.tmpl

## short description
PKGDESCR = Templates for SysDefs files

## version
PKGVERSION = 2.3o_pre

## Package base
PKGBASE = $OCSSRC/om/tmpls

## Commands to be executed before installation of the package
PKGPREHOOK = 

## Commands to be executed after installation of the package
## PKGPOSTHOOK =

## Commands to be executed *instead* of ocs $PKGOCSFLAGS install
## PKGHOOK = 

## any flags for the ocs command
PKGOCSFLAGS = 


PKGHOOK = if [ ! -d ${OCSHOME}/lib/om/tmpls ]; then ${MKDIR} ${OCSHOME}/lib/om/tmpls; fi; ${CP} ${PKGBASE}/*.tmpl ${OCSHOME}/lib/om/tmpls
