


USER_GLOBAL
  directory = /home/florenz/work/ocs-trunk/doc/bibopalicaman
SURVEY
| |
MACROS
@OPAL = |@sc{Opal}|

OPTIONAL
  top_structure = {*}
  output_file   = /home/florenz/work/ocs-trunk/doc/bibopalicaman/DOSFOP/BibOpalicaManual.texi
  project_name  = {BIBLIOTHECA OPALICA}
  authors       = {The Opal Group}
  date          = {1999}
  functionality_index  = on_no_verb
  application_index    = off
  concept_index        = off
  structure_index      = on
  subsystems_include   = on
  library_include      = off
  properties_include   = off
  only_interfaces      = on
  import_references    = on
  used_function_tables = off
  hierarchy_visu       = on
  sort_structures      = top_down
  language             = english
  new_pages            = off
  levels               = off
  drop_empty_lines     = on
  single_node     = on
